@model MVC4LOL.Models.ViewModels.ChampionDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Champion</legend>

    @if (Model.Tags.Count == 0)
    {
        @Html.ActionLink("Add Tag", "CreateTag", "Champion", new { ChampionId = Model.Champions.First().ChampionId }, null);
    }
    else
    {    
        @Html.ActionLink("Tags", "Tags", "Champion", new { ChampionId = Model.Champions.First().ChampionId }, null);
    }
    
    @foreach (var patch in Model.Patches)
    {
        @Html.RadioButton("Radio" + @patch.Name, patch.Id) @patch.Name
    }

    @{Int32 selectedPatchId = 1; }
    
    <ul>
        @foreach (var a in Model.Tags){
        <li>@Html.DisplayName(a.Name)</li>
        }
    </ul>

    <div>
        <img src="@Url.Action("GetPhoto", new { photoId = Model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Id })" />
    </div>


    <table>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Title)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Title)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).ReleaseDate)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).ReleaseDate)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).IP_Cost)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).IP_Cost)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).RP_Cost)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).RP_Cost)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Health)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Health)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).HealthPerLvl)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).HealthPerLvl)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).HealthRegen)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).HealthRegen)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).HealthRegenPerLvl)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).HealthRegenPerLvl)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Mana)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Mana)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).ManaPerLvl)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).ManaPerLvl)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).ManaRegen)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).ManaRegen)
                </div>
            </td>
        </tr>
         <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).ManaRegenPerLvl)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).ManaRegenPerLvl)
                </div>
            </td>
        </tr>
         <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Range)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Range)
                </div>
            </td>
        </tr>
         <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Damage)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Damage)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).DamagePerLvl)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).DamagePerLvl)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).AtkSpeed)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).AtkSpeed
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).AtkSpeedPerLvl)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).AtkSpeedPerLvl)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Armor)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).Armor)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).ArmorPerLvl)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).ArmorPerLvl)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).MagicResist)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).MagicResist)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).MagicResistPerLvl)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).MagicResistPerLvl)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).MoveSpeed)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Champions.First(o => o.PatchVersionId == Model.SelectedPatchId).MoveSpeed)
                </div>
            </td>
        </tr>
    </table>

    
    

    
    
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
    @Html.ActionLink("Back to Champions", "Index2", "ChampionJson")
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
