@model MVC4LOL.Models.ViewModels.ChampionDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Champion</legend>

    @if (Model.Tags.Count == 0)
    {
        @Html.ActionLink("Add Tag", "CreateTag", "Champion", new { ChampionId = Model.Champion.ChampionId }, null);
    }
    else
    {    
        @Html.ActionLink("Tags", "Tags", "Champion", new { ChampionId = Model.Champion.ChampionId }, null);
    }
    <ul>
        
        @foreach (var a in Model.Tags){
        <li>@Html.DisplayName(a.Name)</li>
        }
    </ul>

    <div>
        <img src="@Url.Action("GetPhoto", new { photoId = Model.Champion.Id })" />
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.ReleaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.ReleaseDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.IP_Cost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.IP_Cost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.RP_Cost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.RP_Cost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.Health)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.Health)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.HealthPerLvl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.HealthPerLvl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.HealthRegen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.HealthRegen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.HealthRegenPerLvl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.HealthRegenPerLvl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.Mana)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.Mana)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.ManaPerLvl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.ManaPerLvl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.ManaRegen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.ManaRegen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.ManaRegenPerLvl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.ManaRegenPerLvl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.Range)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.Range)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.Damage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.Damage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.DamagePerLvl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.DamagePerLvl)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Champion.AtkSpeed)
    </div>
    <div class="display-field">
        @Model.Champion.AtkSpeed
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.AtkSpeedPerLvl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.AtkSpeedPerLvl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.Armor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.Armor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.ArmorPerLvl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.ArmorPerLvl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.MagicResist)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.MagicResist)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.MagicResistPerLvl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.MagicResistPerLvl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Champion.MoveSpeed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Champion.MoveSpeed)
    </div>
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
