@model MVC4LOL.Models.ViewModels.TagsViewModel

@{
    ViewBag.Title = "Tags";
}

<h2>@Model.Champion.Name Tags</h2>

<p>
    @Html.ActionLink("Add Tag", "CreateTag", "Champion", new { championId = Model.Champion.Id}, null) 
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tags.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags.First().UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags.First().ChampionId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Tags) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChampionId)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "DeleteTag", "Champion" , new { tagId = item.Id }, null)
        </td>
    </tr>
}
@Html.ActionLink("Back", "Details2", "Champion", new { championId = Model.Champion.Id}, null)

</table>
